.tag_container {
    display: flex;

}

.tag_text {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0px 10px;
}

.title_tag_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tags_container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

@media screen and (min-width: 769px) {
    
    .tag_text {
        flex-direction: column;
        height: 25px;
        border-radius: 10px;
        font-size: 14px;
    }
}

