@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.banner_container {
  width: 100%;
  height: 111px;
  position: relative;
  border-radius: 10px;
}

#img_banner {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: brightness(0.7);
  object-fit: cover;
}

.banner_text_container {
  position: absolute;
  top: 0;
  left: 5%;
  width: 65%;
  height: 100%;
}

.banner_text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #FFFFFF;
  height: 100%;
}

.about_container .banner_container {
  height: 223px;
}

@media screen and (min-width: 769px) {
  .banner_container {
    margin-top: 30px;
    height: 223px;
    border-radius: 25px;
    width: 100%;
  }
  #img_banner {
    border-radius: 25px;
    width: 100%;
  }
  .banner_text_container {
    width: 90%;
  }
  .banner_text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 48px;
    font-weight: 500;
    line-height: 50px;
    border-radius: 25px;
  }
}
.card_accomodation {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 225px;
  min-width: 335px;
  border-radius: 10px;
  margin-top: 12px;
}

.card_accomodation:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease 0.4s;
}

#accomodation_img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card_accomodation_style {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  width: 100%;
  height: 60%;
}

.card_accomodation_title {
  display: flex;
  align-items: flex-end;
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  color: #f7f7f7;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
}

/* modifier le gradient et déplacer le titre */
@media screen and (min-width: 769px) {
  .card_accomodation {
    width: 340px;
    height: 340px;
  }
}
.carrousel_container {
  display: flex;
  position: relative;
  width: 100%;
  height: 255px;
  margin: 2% 0;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 3rem;
}

.carrousel_img_container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: translate ease-in-out 0.5s;
}

.carrousel_img {
  flex-shrink: 0;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.current_slide {
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.left_chevron {
  position: absolute;
  cursor: pointer;
  display: flex;
  top: 47%;
  left: 2%;
  width: 12px;
  height: 20px;
  z-index: 1;
}

.left_chevron path {
  fill: #FFFFFF;
}

.right_chevron {
  position: absolute;
  cursor: pointer;
  display: flex;
  top: 47%;
  right: 2%;
  width: 12px;
  height: 20px;
  z-index: 1;
}

.right_chevron path {
  fill: #FFFFFF;
}

@media screen and (min-width: 769px) {
  .carrousel_container {
    height: 415px;
  }
  .carrousel_img_container {
    border-radius: 25px;
  }
  #carrousel_img {
    border-radius: 25px;
  }
  .current_slide {
    opacity: 1;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    top: 90%;
    left: 48%;
  }
  .left_chevron {
    width: 47px;
    height: 79px;
    top: 42%;
  }
  .right_chevron {
    width: 47px;
    height: 79px;
    top: 42%;
  }
}
.rules_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  max-width: 1023px;
}

.rule_title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  border-radius: 10px;
  height: 30px;
  margin-bottom: -5px;
  z-index: 2;
}

.rule_title_container:hover {
  cursor: pointer;
}

.rule_title {
  margin-left: 11px;
  font-size: 13px;
  line-height: 18.54px;
  font-weight: 500;
  left: 11.5px;
  color: #FFFFFF;
}

.chevron {
  margin-right: 11px;
  transition: transform 0.4s ease-in-out;
}

.chevron.open {
  transform: rotate(-180deg);
}

.chevron path {
  fill: #FFFFFF;
}

.rule_text_container {
  border-radius: 10px;
  opacity: 1;
  background-color: #f7f7f7;
  z-index: 1;
}

.rule_text {
  color: #ff6060;
  font-size: 12px;
  line-height: 17.11px;
  font-weight: 400;
  margin: 17px 7px 40px 11px;
}

.collapse_list {
  list-style: none;
}

@media screen and (min-width: 769px) {
  .rule_title {
    font-size: 18px;
  }
  .rule_title_container {
    height: 47px;
  }
  .rule_text {
    line-height: 25px;
    font-size: 18px;
  }
  .chevron {
    width: 20px;
    height: 24px;
    margin-right: 30px;
  }
}
.error_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 2%;
  color: #ff6060;
}

.error_code {
  font-size: 96px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 0.8rem 0;
}

.error_advertisement {
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin: 0 11%;
}

.error_link_home {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  margin-top: 30%;
  color: #ff6060;
}

.error_link_home:hover {
  text-decoration-line: underline;
}

.error_link_home:focus {
  text-decoration-line: underline;
}

@media screen and (min-width: 769px) {
  .error_code {
    font-size: 288px;
    line-height: 410px;
    margin: 0;
  }
  .error_advertisement {
    font-size: 36px;
    line-height: 51px;
    margin: 0;
  }
  .error_link_home {
    margin-top: 7rem;
    font-size: 18px;
  }
}
.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-top: 1.5rem;
  flex-direction: column;
  background-color: #000000;
  bottom: 0px;
}

.footer_container_text {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  width: 100%;
  margin-top: 1.8rem;
}

.footer_container img {
  margin-top: 2%;
  width: 122px;
  height: 40px;
}

@media screen and (min-width: 769px) {
  .footer_container_text {
    font-size: 24px;
  }
}
.header_group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  max-width: 1240px;
}

.header_group_figure {
  display: flex;
  align-items: flex-start;
  margin: 0px;
  width: 145px;
  height: 47px;
}

.header_group_figure img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 769px) {
  .header_group_figure {
    width: 210px;
    height: 68px;
  }
  .header_group_figure img {
    width: 100%;
    height: 100%;
  }
}
.nav_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
}

.nav_header a {
  font-size: 12px;
  font-weight: 500;
  text-align: right;
  line-height: 142%;
  color: #ff6060;
  text-decoration: none;
  padding-left: 10px;
}

.nav_header a:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .nav_header {
    text-transform: none;
  }
  .nav_header a {
    font-size: 20px;
    font-weight: 500;
    line-height: 34.22px;
    padding-left: 30px;
    text-align: right;
  }
}
/* .nav_çheader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
}

.nav_header a {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: right;
    line-height: 142%;
    color: #ff6060;
    text-decoration: none;
    padding-left: 0.8rem;
}

.na_header a:hover {
    text-decoration-line: underline;
}

@media screen and (min-width: 769px){
    .nav_header {
        text-transform: none;
    }
}

@media screen and (min-width: 769px){
    .nav_header a {
        font-size: 24px;
        font-weight: 500;
        line-height: 142%;
        padding-left:  3.5rem;
    }
} */
.profil_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.profil_name {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 63px;
  height: 66px;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  color: #ff6060;
}

.profil_picture {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 10px;
}

.profil_picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (min-width: 769px) {
  .profil_name {
    font-size: 18px;
    font-weight: 500;
  }
  .profil_picture {
    width: 64px;
    height: 64px;
  }
}
.rate_container {
  display: flex;
  justify-content: space-between;
  width: 98px;
  height: 18px;
}

.rate_container_index {
  display: flex;
  align-items: flex-start;
}

.star {
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 769px) {
  .rate_container {
    width: 196px;
    height: 36px;
  }
  .star {
    width: 30px;
    height: 30px;
  }
}
.tag_container {
  display: flex;
}

.tag_text {
  background-color: #ff6060;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  font-size: 10px;
  font-weight: 500;
  height: 18px;
  border-radius: 5px;
  margin-right: 10px;
  padding: 0px 10px;
}

.title_tag_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tags_container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media screen and (min-width: 769px) {
  .tag_text {
    flex-direction: column;
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
  }
}
.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sheet_container {
  margin-top: -20px;
}

.title_tag_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 2% 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
  line-height: 25.5px;
}

.location {
  color: var(--primary-color);
  margin: 2% 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.sheet_collapse_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: -20px;
}

.rate_profil_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.sheet_info_container {
  width: 100%;
}

.acc_collapse_list {
  line-height: 0px;
}

@media screen and (min-width: 769px) {
  .title {
    font-size: 36px;
    line-height: 51px;
  }
  .location {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .sheet_info_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .rate_profil_container {
    flex-direction: column;
    justify-content: center;
  }
  .profil_container_index {
    margin-bottom: 20px;
    margin-right: -3.7rem;
    align-items: flex-end;
  }
  .sheet_collapse_container {
    flex-direction: row;
    gap: 6%;
    margin-top: 0px;
  }
}
.home_container {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
}

.cards_accommodation_container {
  display: flex;
  gap: 20px;
  justify-content: center;
  max-width: 1240px;
  height: 100%;
  border-radius: 10px;
  flex-wrap: wrap;
}

@media screen and (min-width: 769px) {
  .home_container {
    max-width: 1240px;
  }
  .cards_accommodation_container {
    max-width: 1240px;
    gap: 60px;
    padding: 50px 30px;
    background-color: var(--secondary-color);
    border-radius: 25px;
    margin: 43px 0px;
  }
}
#root, body {
  width: 100%;
}

body {
  margin: 0;
}

.global_style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 335px;
  max-width: 1440px;
  font-family: "Montserrat", Helvetica, sans-serif;
  padding: 4% 5%;
}

@media screen and (min-width: 769px) {
  .global_style {
    padding: 2% 7%;
  }
}
@media screen and (min-width: 1441px) {
  .global_style {
    padding: 1% 17%;
  }
}

/*# sourceMappingURL=index.css.map */
