@import "../../Utils/style/variable.scss";

.error_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 2%;
    color: $primaryColor;
}

.error_code {
    font-size: 96px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 0.8rem 0;
}

.error_advertisement {
    display: flex;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    margin: 0 11%;
}

.error_link_home {
    display: flex;
	justify-content: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30%;
    color: $primaryColor;
}

.error_link_home:hover {
    text-decoration-line: underline;
}

.error_link_home:focus {
    text-decoration-line: underline;
}

@media screen and (min-width: 769px) {
    .error_code {
        font-size: 288px;
        line-height: 410px;
        margin: 0;
    }

    .error_advertisement {
        font-size: 36px;
        line-height: 51px;
        margin: 0;
    }

    .error_link_home {
        margin-top: 7rem;
        font-size: 18px;
    }
}