@import "../../Utils/style/variable.scss";

.rate_container {
    display: flex;
    justify-content: space-between;
    width: 98px;
    height: 18px;
}

.rate_container_index {
    display: flex;
    align-items: flex-start;
}

.star {
    width: 15px;
    height: 15px;
}

@media screen and (min-width: 769px) {

    .rate_container {
        width: 196px;
        height: 36px;
    }

    .star {
        width: 30px;
        height: 30px;
    }
}