.home_container {
    max-width: 335px;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.cards_accomodation_container {
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 1240px;
    height: 100%;
    border-radius: 10px;
    flex-wrap: wrap;
}

@media screen and (min-width: 769px) {
    
    .home_container {
        max-width: 1240px;
        margin-left: 12%;
    }

    .cards_accomodation_container {
        max-width: 1240px;
        gap: 60px;
        padding: 50px 30px;
        background-color: #f7f7f7;
        border-radius: 25px;
        margin: 43px 0px;
    }
}

/* .home_container {
    max-width: 335px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.cards_accomodation_container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    border-radius: 10px;
    margin: 0px 10px;
    flex-wrap: wrap;
}

.card_accomodation_link {
    text-decoration: none;
}

@media screen and (min-width: 769px) {
    .home_container {
        max-width: 1240px;
    }

    .cards_accomodation_container {
        gap: 50px;
        padding: 5% 1%;
        background-color: #f7f7f7;
        border-radius: 25px;
        margin: 43px 0px;
    }
} */