.nav_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    margin-left: 2.5rem;
}

.nav_header a {
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    line-height: 142%;
    color: var(--primary-color);
    text-decoration: none;
    padding-left: 10px;
}

.nav_header a:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

@media screen and (min-width: 769px){
    .nav_header {
        text-transform: none;
    }

    .nav_header a {
        font-size: 20px;
        font-weight: 500;
        line-height: 34.22px;
        padding-left: 30px;
        text-align: right;
    }
}

/* .nav_çheader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
}

.nav_header a {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: right;
    line-height: 142%;
    color: #ff6060;
    text-decoration: none;
    padding-left: 0.8rem;
}

.na_header a:hover {
    text-decoration-line: underline;
}

@media screen and (min-width: 769px){
    .nav_header {
        text-transform: none;
    }
}

@media screen and (min-width: 769px){
    .nav_header a {
        font-size: 24px;
        font-weight: 500;
        line-height: 142%;
        padding-left:  3.5rem;
    }
} */