.rules_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    background-color: var(--secondary-color);
    max-height: 193px;
}

.rule_title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    height: 30px;
    margin-bottom: -5px;
}

.rule_title {
    margin-left: 11px;
    font-size: 13px;
    line-height: 18.54px;
    font-weight: 500;
    left: 11.50px;
    color: var(--tertiary-color);
}

.chevron {
    margin-right: 11px;
}

.chevron path {
    fill: var(--tertiary-color);
}

/* .arrow::before {
    transform: rotate(-180deg);
} */

.arrow:hover {
    cursor: pointer;
    transform: rotate(-180deg);
    transition: 0.4s ease-in-out;
}

.rule_text_container {
    border-radius: 5px;
    opacity: 1;
}

.rule_text {
    color: var(--primary-color);
    font-size: 12px;
    line-height: 17.11px;
    font-weight: 400;
    margin: 17px 7px 40px 11px;
}